.dialog-container {
  .dialog-content {
    margin-top: -10px;

    .full-width {
      width: 100%;
    }

    .form-section {
      margin-bottom: 10px;
    }
  }

  .dialog-actions {
    float: right;

    .dialog-actions-cancel {
      margin-right: 10px;
    }
  }
}
