<div class="dialog-container">
  <h2 mat-dialog-title>{{ getTitle() }}</h2>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="form">
      <div class="form-section">
        <mat-form-field class="full-width">
          <input matInput placeholder="Title" id="title" formControlName="title" name="title" />
          <mat-error *ngIf="form.get('title').hasError('requiredValue')">Please enter event title</mat-error>
        </mat-form-field>
      </div>
      <div class="form-section">
        <app-from-to-dates
          [start]="getInitialStartDate()"
          [end]="getInitialEndDate()"
          [allDay]="getInitialAllDayFlag()"
          (dateChanged)="fromToDateChanged($event)"
        ></app-from-to-dates>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button (click)="cancel()" class="dialog-actions-cancel">Cancel</button>
    <button mat-stroked-button [disabled]="form.invalid" (click)="save()" class="dialog-actions-save">
      Save
    </button>
  </mat-dialog-actions>
</div>
