.dialog-container {
  .dialog-content {
    margin-top: -10px;

    .full-width {
      width: 100%;
    }

    .form-section {
      margin-bottom: 10px;
    }
  }

  .dialog-actions {
    margin-top: -10px;

    .dialog-actions-delete {
      background-color: #b94a48;
      color: #fff;
    }
  }
}
