<div fxLayout fxLayoutGap.gt-xs="10px" fxLayoutGap.xs="5px">
  <div *appMobileHide>
    <button mat-icon-button [disableRipple]="true" (click)="onViewChanged(Views.Month)">
      <mat-icon
        [ngClass.xs]="'custom-icon-small'"
        [ngClass.gt-xs]="'custom-icon-large'"
        svgIcon="calendar-month"
      ></mat-icon>
    </button>
  </div>
  <div *appMobileHide>
    <button mat-icon-button [disableRipple]="true" (click)="onViewChanged(Views.Week)">
      <mat-icon
        [ngClass.xs]="'custom-icon-small'"
        [ngClass.gt-xs]="'custom-icon-large'"
        svgIcon="calendar-week"
      ></mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button [disableRipple]="true" (click)="onViewChanged(Views.Day)">
      <mat-icon
        [ngClass.xs]="'custom-icon-small'"
        [ngClass.gt-xs]="'custom-icon-large'"
        svgIcon="calendar-day"
      ></mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button [disableRipple]="true" (click)="onViewChanged(Views.List)">
      <mat-icon
        [ngClass.xs]="'custom-icon-small'"
        [ngClass.gt-xs]="'custom-icon-large'"
        svgIcon="calendar-list"
      ></mat-icon>
    </button>
  </div>
</div>
