<div class="app-container">
  <app-navbar (toogleSidenav)="sideNav.toggle()"></app-navbar>
  <mat-sidenav-container
    autosize
    class="side-nav-container"
    [ngClass.lt-lg]="'side-nav-container-mobile'"
    [ngClass.gt-md]="'side-nav-container-desktop'"
  >
    <mat-sidenav #sideNav mode="side" [autoFocus]="false" class="side-nav" fxLayout="column center">
      <span class="section-title">NAVITAGION</span>
      <div *ngFor="let route of routes" class="navigation-item" fxLayout>
        <a
          [routerLink]="route.url"
          [ngClass]="{ 'navigation-item-current': route.url === currentRoute }"
          class="navigation-item-link"
          fxFill
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <mat-icon fxFlex="25">{{ route.icon }}</mat-icon>
          <span fxFlex="65">{{ route.name }}</span>
        </a>
      </div>
      <!-- <div class="team" *ngIf="team">
        {{ team?.name }}
      </div>
      <div class="navigation" fxLayout="column start" fxLayoutGap="10">
        <span class="section-title">NAVITAGION</span>
        <mat-nav-list>
          <a
            disableRipple="'true'"
            mat-list-item
            *ngFor="let route of routes"
            class="navigation-item"
            [ngClass]="{ 'navigation-item-current': route.url === currentRoute }"
          >
            <mat-icon matListIcon>{{ route.icon }}</mat-icon>
            {{ route.name }}
          </a>
        </mat-nav-list>
      </div> -->
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid no-padding">
        <router-outlet></router-outlet>
      </div>
      <div id="footer"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-error></app-error>
