.side-nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  .side-nav-expanded {
    min-width: 200px;
    max-width: 200px;
  }

  .side-nav {
    height: 100%;
    background-color: #32373d;
    color: rgba(255, 255, 255, 0.4);

    .team {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      .link-expanded {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        word-wrap: break-word;
        font-size: 20px;
        font-weight: 200;
        color: #fff;
        text-decoration: none;

        .members {
          color: rgba(255, 255, 255, 0.4);
          font-size: 11px;
        }
      }

      .link-icon {
        padding: 15px 20px;
        color: #fff;

        &:hover {
          background-color: #3f51b5;
          color: #fff;
        }
      }
    }

    .section {
      margin-top: 20px;
      font-size: 15px;

      .title {
        padding-left: 10px;
        font-size: smaller;
        color: rgba(255, 255, 255, 0.6);
      }

      .navigation-item {
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        background-color: #32373d;

        &:hover {
          background-color: #3f51b5;
          color: #fff;
        }

        .navigation-item-link {
          padding: 15px 20px;
          text-decoration: none;
          color: inherit;
        }

        .navigation-item-current {
          color: #fff;
        }
      }
    }

    .expander {
      margin-bottom: 15px;
      margin-right: 10px;

      .mat-icon {
        transform: scale(2);

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.adona-content {
  margin-top: 20px;
}
