<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [@.disabled]="true" [viewDate]="viewDate"
    [activeDayIsOpen]="activeDayIsOpen" [weekStartsOn]="weekStartsOn">
  </mwl-calendar-month-view>

  <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [@.disabled]="true" [viewDate]="viewDate" [dayStartHour]="7">
  </mwl-calendar-day-view>

  <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [@.disabled]="true" [viewDate]="viewDate"
    [weekStartsOn]="weekStartsOn" [dayStartHour]="7">
  </mwl-calendar-week-view>
</div>
