.tabs-container {
  .tabs {
    min-width: 130px;

    &-mobile {
      min-width: 50px;
    }

    .tab {
      color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-decoration: none;
      min-height: 80px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);

      &:hover:not(.active) {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.65);
      }

      span {
        margin-left: 3px;
      }
    }

    .active {
      border-right: none;
      font-weight: 500;
      color: black;

      &:not(:first-child) {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  .content {
    padding: 0 20px;
  }
}
