<div class="form-container">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="form-field">
      <input matInput placeholder="Email" formControlName="email" name="email" class="full-width" />
      <mat-error *ngIf="emailNotValid()">Please enter a <strong>valid</strong> email address</mat-error>
      <mat-error *ngIf="emailEmpty()">Email is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        [type]="showPassword ? 'text' : 'password'"
        matInput
        placeholder="Password"
        formControlName="password"
        name="password"
        class="full-width"
      />
      <mat-icon matSuffix (click)="showPassword = !showPassword">{{
        showPassword ? 'visibility' : 'visibility_off'
      }}</mat-icon>
      <mat-error *ngIf="passwordEmpty()">Password is <strong>required</strong></mat-error>
    </mat-form-field>

    <button
      [disabled]="loginForm.invalid"
      *ngIf="!showSpinner"
      type="submit"
      class="form-button login-button"
      mat-stroked-button
      color="primary"
    >
      Log in
    </button>

    <div *ngIf="showSpinner" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="form-error" *ngIf="showError">
      Email address or password is invalid. Please enter correct credentials
    </div>
  </form>
  <div class="actions">
    <span>Forgot your password?</span>
    <a [routerLink]="'/login/resetPassword'" [queryParams]="{ email: loginForm.get('email').value }">Reset it</a>
  </div>
  <div class="actions">
    <span>Don't have an account, yet?</span>
    <a [routerLink]="'/login/register'">Register</a>
  </div>
</div>
