.new-team-dialog-actions {
  margin-top: 20px;
}

.members-list-title {
  margin-bottom: 5px;
}

.members-list-member {
  margin-left: 10px;

  .members-list-member-remove {
    min-height: 30px;
    max-height: 30px;
    cursor: pointer;
  }
}

.summary-members-list {
  margin-top: 10px;
}

.summary-members-list-member {
  min-height: 30px;
  max-height: 30px;
}
