<div>
  <h2 mat-dialog-title>New Team</h2>
  <div mat-dialog-content>
    <div [ngSwitch]="currentStep">
      <form [formGroup]="form">
        <div *ngSwitchCase="steps.Name" fxLayout="column">
          <span>How should we call your team?</span>
          <mat-form-field fxFill>
            <input matInput id="name" formControlName="name" name="name" />
            <mat-error *ngIf="form.get('name').hasError('required')">Please provide us your team name</mat-error>
            <mat-error *ngIf="form.get('name').hasError('nameExists')">You are already member of such team</mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="end">
            <button mat-stroked-button (click)="nextStep()">
              <span>Next</span>
            </button>
          </div>
        </div>
        <div *ngSwitchCase="steps.Users" fxLayout="column">
          <span>Who should belong to this team?</span>
          <div fxLayout fxLayoutAlign="space-between">
            <mat-form-field fxFlex="80">
              <input matInput formControlName="newUser" name="newUser" #newMemberInput />
              <mat-error *ngIf="form.get('newUser').hasError('required')">Please provide us new member name</mat-error>
              <mat-error *ngIf="form.get('newUser').hasError('nameExists')"
                >This user is already member of the team</mat-error
              >
            </mat-form-field>
            <button mat-icon-button [disableRipple]="true" fxFlex="20" (click)="addNewMember()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div fxLayout="column">
            <div *ngIf="members.length > 0" class="members-list-title">
              <mat-icon style="vertical-align: text-bottom;">
                supervisor_account
              </mat-icon>
              <span style="margin-left: 5px;">Members:</span>
            </div>
            <div *ngFor="let member of members; let i = index">
              <div fxFill class="members-list-member">
                <div fxFlex="60">
                  <span>{{ i + 1 }}. {{ formatMemberName(member) }}</span>
                </div>
                <span class="members-list-member-remove" *ngIf="!isCurrentUser(member)" (click)="removeMember(member)">
                  <mat-icon>
                    clear
                  </mat-icon>
                </span>
              </div>
            </div>
          </div>
          <div class="new-team-dialog-actions" fxLayout="row" fxLayoutAlign="space-between">
            <button mat-stroked-button (click)="previousStep()">Prev</button>
            <button mat-stroked-button (click)="nextStep()">Next</button>
          </div>
        </div>
        <div *ngSwitchCase="steps.Summary" fxLayout="column" fxLayoutGap="10px">
          <div>
            You're about to create team: <br />
            <span fxLayout="center" class="text-bold">{{ this.form.get('name').value }}</span>
          </div>
          <div class="summary-members-list">
            <span class="members-list-title">Including {{ members.length }} members:</span>
            <div fxLayout="column">
              <span
                class="members-list-member summary-members-list-member"
                *ngFor="let member of members; let i = index"
              >
                <mat-icon style="vertical-align: middle;">
                  perm_identity
                </mat-icon>
                {{ member }}
              </span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-stroked-button (click)="previousStep()">Prev</button>
            <button mat-stroked-button class="button-stroked-green" (click)="save()">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
