<button class="adona-dialog-close" mat-icon-button (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<h3 mat-dialog-title>{{ getDialogTitle() }}</h3>
<div mat-dialog-content>
  <div [ngSwitch]="currentStep">
    <form [formGroup]="form">
      <div *ngSwitchCase="steps.Name" fxLayout="column">
        <div>
          <span>How should we call your team?</span>
          <mat-form-field fxFill>
            <input cdkTrapFocus cdkTrapFocusAutoCapture matInput id="name" formControlName="name" name="name" />
            <mat-error *ngIf="form.get('name').hasError('requiredValue')">Please provide your team name</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button
            mat-stroked-button
            class="button-stroked-blue"
            (click)="nextStep()"
            [disabled]="form.get('name').invalid"
          >
            <span>Next</span>
          </button>
        </div>
      </div>

      <div *ngSwitchCase="steps.Users" fxLayout="column">
        <label id="addMemberModeLabel">How would you like to add a new member?</label>
        <div class="members-addition-modes">
          <mat-radio-group
            #radioGroup="matRadioGroup"
            aria-labelledby="addMemeberModeLabel"
            fxLayoutGap.gt-xs="20px"
            fxLayout.gt-xs="row"
            fxLayout="column"
          >
            <mat-radio-button
              tabindex="1"
              [checked]="'true'"
              value="friend"
              [color]="'primary'"
              (change)="changeNewMemberType()"
              >Invite friend</mat-radio-button
            >
            <mat-radio-button tabindex="2" value="virtual" [color]="'primary'" (change)="changeNewMemberType()"
              >Add virtual member</mat-radio-button
            >
          </mat-radio-group>

          <div class="members-addition-input" fxLayout fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="90">
              <input
                cdkTrapFocus
                cdkTrapFocusAutoCapture
                tabindex="1"
                [placeholder]="radioGroup.value === 'friend' ? 'Email Address' : 'Member Name'"
                matInput
                formControlName="newMember"
                #newMemberInput
              />
              <mat-error *ngIf="form.get('newMember').hasError('requiredValue')">
                {{ radioGroup.value === 'friend' ? 'Please provide email address' : 'Please provide member name' }}
              </mat-error>
              <mat-error
                *ngIf="form.get('newMember').hasError('email') && !form.get('newMember').hasError('requiredValue')"
                >Please provide valid email address</mat-error
              >
            </mat-form-field>
            <button
              tabindex="2"
              mat-icon-button
              [disableRipple]="true"
              fxFlex="10"
              (click)="addMember(radioGroup.value)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div fxLayout="column">
          <div class="members-list-title">
            <span>Team members:</span>
          </div>
          <div *ngFor="let member of members | keyvalue; let i = index">
            <div class="members-list-member">
              <div fxFlex="90">
                <span>{{ i + 1 }}. {{ formatMemberName(member.value) }}</span>
              </div>
              <span
                fxFlex="10"
                class="members-list-member-remove"
                *ngIf="!isCurrentUser(member.value)"
                (click)="removeMember(member.value)"
              >
                <mat-icon>
                  clear
                </mat-icon>
              </span>
            </div>
          </div>
        </div>
        <div class="new-team-dialog-actions" fxLayout="row" fxLayoutAlign="space-between">
          <button mat-stroked-button (click)="previousStep()">Back</button>
          <button mat-stroked-button class="button-stroked-blue" (click)="nextStep()">Next</button>
        </div>
      </div>
      <div *ngSwitchCase="steps.Summary" fxLayout="column" fxLayoutGap="10px">
        <div>
          <span class="summary-team-name">Team name:</span><span>{{ form.get('name').value }}</span>
        </div>
        <div class="summary-members-list">
          <div class="members-list-title">
            <span>Team members:</span>
          </div>
          <div *ngFor="let member of members | keyvalue; let i = index">
            <div fxFill class="members-list-member">
              <span>{{ i + 1 }}. {{ formatMemberName(member.value) }}</span>
            </div>
          </div>
        </div>

        <app-alert
          *ngIf="shouldSendInvitations()"
          [mode]="'warning'"
          [message]="'This will send invitation emails.'"
        ></app-alert>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <button mat-stroked-button (click)="previousStep()">Back</button>
          <button mat-stroked-button class="button-stroked-green" (click)="save()">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
