<div class="settings-teams-container" *ngIf="data" fxLayout="column">
  <app-loader [visible]="data.requestStatus.started" [mode]="'query'"></app-loader>
  <div
    class="team"
    [ngClass.xs]="'team-mobile'"
    *ngFor="let team of data.teams"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div fxFlex="90" [routerLink]="['./', team.id]" fxLayoutAlign="start center">
      <div fxFlex.xs="50" fxFlex.gt-xs="40" fxFlex.gt-md="20" class="title">{{ team.name }}</div>
      <div>
        <div fxFlexAlign="stretch" class="splitter"></div>
        <div fxFlex class="subtitle" fxLayout="column">
          <div *ngIf="team.createdBy">by: {{ team.createdBy }}</div>
          <div *ngIf="team.created" fxFlexAlign="stretch">on: {{ team.created | dateFormat: data.dateFormat }}</div>
        </div>
      </div>
    </div>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['./', team.id]">
          <span>Details</span>
        </button>
        <button *ngIf="!isPersonalTeam(team.id)" mat-menu-item (click)="onTeamRemove(team)">
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
