.alert {
  min-height: 50px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 10px;

  &-warning {
    background-color: #ffe6cc;
    color: #e77600;
    border: 1px solid #e77600;
  }

  &-error {
    font-weight: 450;
    background-color: #d8000c;
    color: #fff;
    border: 1px solid #b94a48;
  }

  .message {
    margin-left: 10px;
  }
}
