<div class="verify-email-container">
  <p>We need you to verify your email address.</p>
  <p>Please, check your email box and follow instructions provided in our message.</p>
  <div *ngIf="!apiRequestStatus?.started" fxLayout="row wrap">
    <span class="resend-email-label">Didn't get an email from us?</span>
    <span class="resend-email" (click)="sendEmailConfirmationLink()">Click here to resend it!</span>
  </div>
  <app-loader [visible]="apiRequestStatus?.started" [mode]="'spinner'"></app-loader>

  <div *ngIf="apiRequestStatus?.succeded"><span class="email-sent">Email has been sent!</span></div>

  <div *ngIf="apiRequestStatus?.failed" class="email-sent-error">
    <span>Email has not been sent. Please, try again later.</span>
  </div>

  <div class="back-to-login" fxLayout="row" fxLayoutAlign="end">
    <a [routerLink]="'/login'">Back to login</a>
  </div>
</div>
