.settings-account-container {
  .content-container {
    margin-top: 20px;

    .setting-row:not(:first-of-type) {
      margin-top: 40px;
    }

    .settings-row-desktop {
      width: 60%;
    }

    .profile-image {
      height: 100px;
      border-radius: 50%;
    }

    .input-full-width {
      width: 100%;
    }
  }
}
