<button class="adona-dialog-close" mat-button (click)="close()">x</button>
<h2 mat-dialog-title>Change Team</h2>
<div mat-dialog-content fxLayout="column">
  <span class="text-bold">Recently used teams:</span>
  <div class="teams-list">
    <div
      class="teams-list-item"
      fxLayoutAlign="space-between center"
      *ngFor="let team of getRecentTeams()"
      (click)="onTeamSelected(team.id)"
    >
      <span>{{ team.name }}</span>
      <span class="teams-list-item-icon">
        <mat-icon>
          input
        </mat-icon>
      </span>
    </div>
  </div>

  <span class="text-bold">Select from list:</span>
  <mat-form-field>
    <mat-select (selectionChange)="onTeamSelected($event.value)" [(value)]="currentTeamId">
      <mat-option *ngFor="let team of data.user.teams" [value]="team.id" [disabled]="isTeamCurrentlySelected(team.id)">
        {{ team.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
