<app-calendar-toolbar (newEventClicked)="onEventClicked()" [view]="view" [viewDate]="viewDate"></app-calendar-toolbar>

<div class="calendar-content" ngClass.gt-xs="calendar-view">
  <app-celendar-title class="align-center" [view]="view" [viewDate]="viewDate"></app-celendar-title>

  <app-calendar-view
    *ngIf="events$ | async; let events"
    [events]="events"
    [view]="view"
    [viewDate]="viewDate"
    (eventClicked)="onEventClicked($event)"
  >
  </app-calendar-view>
</div>

<app-error></app-error>
