<div fxLayout fxLayoutGap.gt-xs="10px" fxLayoutGap.xs="5px">
  <div>
    <button mat-icon-button [disableRipple]="true" (click)="setView(CalendarView.Month)">
      <mat-icon [ngClass.xs]="'custom-icon-small'" [ngClass.gt-xs]="'custom-icon-large'" [class.active]="view === CalendarView.Month"
        svgIcon="calendar-month"></mat-icon>
    </button>

  </div>
  <div>
    <button mat-icon-button [disableRipple]="true" (click)="setView(CalendarView.Week)">
      <mat-icon [ngClass.xs]="'custom-icon-small'" [ngClass.gt-xs]="'custom-icon-large'" [class.active]="view === CalendarView.Month"
        svgIcon="calendar-week"></mat-icon>
    </button>

  </div>
  <div>
    <button mat-icon-button [disableRipple]="true" (click)="setView(CalendarView.Day)">
      <mat-icon [ngClass.xs]="'custom-icon-small'" [ngClass.gt-xs]="'custom-icon-large'" [class.active]="view === CalendarView.Month" svgIcon="calendar-day"></mat-icon>
    </button>
  </div>
</div>
