<div class="settings-team-container" *ngIf="data">
  <app-loader [visible]="data.requestStatus.started" [mode]="'query'"></app-loader>
  <div *ngIf="data.team; let team" fxLayout="column" fxLayoutGap="30px">
    <app-settings-team-name [team]="team"></app-settings-team-name>
    <app-settings-team-members [members]="team.members"></app-settings-team-members>
    <div fxFlexAlign="end" *ngIf="!isPersonalTeam()">
      <button mat-stroked-button class="form-button form-button-red" (click)="onDeleteTeam()">Delete Team</button>
    </div>
  </div>
</div>
