.toolbar {
  padding: 0 15px;
  min-height: 50px;
  max-height: 50px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .title {
    font-family: 'Allerta Stencil';
    font-size: 25px;
  }

  .user-menu {
    padding: 5px 7px;
    cursor: pointer;
    font-size: smaller;

    &:hover {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.06);
    }

    &-mobile {
      max-width: 200px;
    }

    .image {
      height: 30px;
      border-radius: 50%;
    }
  }
}

.toolbar-mobile {
  padding: 0 !important;
}

a {
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.87);
  }
}
