<div fxLayout="row" fxLayoutAlign="space-between center" class="toolbar" [ngClass]="{ 'toolbar-mobile': isMobile() }">
  <div *ngIf="isMobile()">
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="title">
    ADONA
  </span>
  <div class="user-menu" [ngClass.lt-sm]="'user-menu-mobile'">
    <div [matMenuTriggerFor]="userMenu" fxLayoutAlign="center center" fxLayoutGap="5px">
      <img class="image" [src]="user.photoUrl" />
      <span [ngClass.lt-sm]="'text-overflow'">{{ user.name }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/settings">
        <mat-icon appResponsiveMatIcon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon appResponsiveMatIcon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
