.toolbar {
  padding: 0 15px;
  min-height: 50px;
  max-height: 50px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .title {
    font-family: 'Allerta Stencil';
    font-size: 25px;
  }

  a {
    text-decoration: none;
  }
}

.toolbar-mobile {
  padding: 0 !important;
}
