<div class="email-verified-container">
  <div class="form-spinner" *ngIf="apiRequestStatus?.started" fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
  </div>

  <div *ngIf="apiRequestStatus?.succeded">
    Cool! Your email has been verified. You can now log in using your credentials.
  </div>

  <div *ngIf="apiRequestStatus?.failed">
    {{ errorMessage }}
  </div>

  <div *ngIf="invalidComponentUsage">
    This session is not valid.
  </div>

  <div class="actions">
    <a [routerLink]="'/login'">Back to login page</a>
  </div>
</div>
