<div class="btn-group">
  <div
    class="btn btn-primary"
    mwlCalendarPreviousView
    [view]="view.view"
    [(viewDate)]="viewDate"
    (viewDateChange)="onViewDateChanged()"
  >
    Previous
  </div>
  <div
    class="btn btn-outline-secondary"
    mwlCalendarToday
    [(viewDate)]="viewDate"
    (viewDateChange)="onViewDateChanged()"
  >
    Today
  </div>
  <div
    class="btn btn-primary"
    mwlCalendarNextView
    [view]="view.view"
    [(viewDate)]="viewDate"
    (viewDateChange)="onViewDateChanged()"
  >
    Next
  </div>
</div>
