<div class="form-container change-password-container">
  <div *ngIf="isComponentValidUsage() && !apiRequestState?.failed && !apiRequestState?.succeded">
    <form [formGroup]="form" (ngSubmit)="changePassword()">
      <app-new-password
        [form]="form"
        [passwordControlName]="'password'"
        [repeatPasswordControlName]="'repeatPassword'"
        [passwordInputPlaceholder]="'New password'"
      ></app-new-password>

      <button
        *ngIf="!apiRequestState?.started"
        [disabled]="form.invalid"
        (keydown.enter)="changePassword()"
        type="submit"
        class="form-button change-password-button"
        mat-stroked-button
        color="primary"
      >
        Change password
      </button>

      <div *ngIf="apiRequestState?.started" fxLayout="row" fxLayoutAlign="center center">
        <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
      </div>
    </form>
  </div>

  <div *ngIf="!isComponentValidUsage()">
    <p>In order to change your password, go to the login page and choose to reset your password.</p>
    <div class="actions">
      <a [routerLink]="'/login'">Back to login page</a>
    </div>
  </div>

  <div *ngIf="apiRequestState?.failed">
    <p>
      Your session for reseting password has expired or is invalid. Please, go to the login page and try to reset your
      password again.
    </p>
    <div class="actions">
      <a [routerLink]="'/login'">Back to login page</a>
    </div>
  </div>

  <div *ngIf="apiRequestState?.succeded">
    <p>Password has been changed. You can now sign in using your new password</p>
    <div class="actions">
      <a [routerLink]="'/login'">Back to login page</a>
    </div>
  </div>
</div>
