<div class="form-container change-password-container">
  <div *ngIf="shouldShowForm()">
    <form [formGroup]="form" (ngSubmit)="changePassword()">
      <app-new-password
        [form]="form"
        [passwordControlName]="'password'"
        [repeatPasswordControlName]="'repeatPassword'"
        [passwordInputPlaceholder]="'New password'"
      ></app-new-password>

      <button
        *ngIf="!apiRequestStatus?.started"
        [disabled]="form.invalid"
        (keydown.enter)="changePassword()"
        type="submit"
        class="form-button change-password-button"
        mat-stroked-button
        color="primary"
      >
        Change password
      </button>

      <app-loader [visible]="apiRequestStatus?.started" [mode]="'spinner'"></app-loader>
    </form>
  </div>

  <div *ngIf="!isComponentValidUsage()">
    <p>In order to change your password, go to the login page and choose to reset your password.</p>
    <div class="actions">
      <a [routerLink]="'/login'">Back to login page</a>
    </div>
  </div>

  <div *ngIf="errorMessage">
    <p>
      {{ errorMessage }}
    </p>
    <div class="actions">
      <a [routerLink]="'/login'">Back to login page</a>
    </div>
  </div>

  <div *ngIf="apiRequestStatus?.succeded">
    <p>Password has been changed. You can now sign in using your new password.</p>
    <div class="actions">
      <a [routerLink]="'/login'">Back to login page</a>
    </div>
  </div>
</div>
