.login-container {
  padding: 20px 10px;

  .login-form {
    width: 100%;

    .login-form-field {
      width: 100%;
      margin-bottom: 10px;
    }

    .login-form-button {
      margin-top: 10px;
      width: 100%;
      border-color: #3f51b5;
    }

    .login-form-error {
      color: #f44336;
      margin-top: 10px;
    }
  }

  .registration {
    margin-top: 20px;
    font-size: small;

    a {
      margin-left: 5px;
      color: #3f51b5;
      font-weight: 500;
    }
  }
}
