.auth-container {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;

  border: 15px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;

  .auth-tabs {
    border-radius: 0px;
    box-shadow: none;

    .auth-tab {
      padding: 20px 10px;

      .login-container {
        .login-form {
          min-width: 250px;
          max-width: 300px;
          width: 100%;

          .login-form-field {
            width: 100%;
            margin-bottom: 10px;
          }

          .login-form-button {
            margin-top: 10px;
            width: 100%;
          }

          .login-form-error {
            color: #f44336;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
