<div class="login-container">
  <form class="login-form" (ngSubmit)="login()">
    <mat-form-field class="login-form-field">
      <input matInput placeholder="Email" [(ngModel)]="credentials.email" name="email" />
    </mat-form-field>

    <mat-form-field class="login-form-field">
      <input type="password" matInput placeholder="Passoword" [(ngModel)]="credentials.password" name="password" />
    </mat-form-field>

    <button (click)="login()" class="login-button" mat-stroked-button color="primary">
      Log in
    </button>
  </form>
</div>