.login-container {
  .login-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;

    .login-form-field {
      width: 100%;
    }

    .login-button {
      margin-top: 10px;
      width: 100%;
    }
  }
}
