<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field class="login-form-field">
      <input matInput placeholder="Email" formControlName="email" name="email" class="full-width" />
      <mat-error id="login-form-email-error-required" *ngIf="emailNotValid()"
        >Please enter a <strong>valid</strong> email address</mat-error
      >
      <mat-error id="login-form-email-error-invalid" *ngIf="emailEmpty()">Email is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="login-form-field">
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        name="password"
        class="full-width"
      />
      <mat-error id="login-form-password-error" *ngIf="passwordEmpty()"
        >Password is <strong>required</strong></mat-error
      >
    </mat-form-field>

    <button *ngIf="!showSpinner" type="submit" class="login-form-button" mat-stroked-button color="primary">
      Log in
    </button>

    <div class="login-form-spinner" *ngIf="showSpinner" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="login-form-error" *ngIf="showError">
      Email address or password is invalid. Please enter correct credentials
    </div>
  </form>
  <div class="registration">
    <span>Don't have an account, yet?</span>
    <a [routerLink]="'/login/register'">Register</a>
  </div>
</div>
