<div class="form-container">
  <form class="form" [formGroup]="form" (ngSubmit)="register()">
    <mat-form-field class="form-field" [formGroup]="form">
      <input matInput type="text" name="email" placeholder="Email address" formControlName="email" tabindex="1" />
      <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('requiredValue')"
        >Please enter a <strong>valid</strong> email address</mat-error
      >
      <mat-error *ngIf="form.get('email').hasError('requiredValue')">Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="form.get('email').hasError('emailExists')">Email already exists</mat-error>
    </mat-form-field>

    <app-new-password
      [passwordControlName]="'password'"
      [repeatPasswordControlName]="'confirmPassword'"
      [form]="form"
    ></app-new-password>

    <button
      *ngIf="!apiRequestStatus?.started"
      [disabled]="form.invalid"
      type="submit"
      class="form-button register-button"
      mat-stroked-button
      color="primary"
      tabindex="4"
    >
      Register
    </button>

    <div class="form-spinner" *ngIf="apiRequestStatus?.started" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>

    <div class="form-error" *ngIf="apiRequestStatus?.failed && apiRequestStatus?.errorCode">
      {{ errorMessage }}
    </div>
  </form>

  <div class="actions">
    <span>Have already an account?</span>
    <a [routerLink]="'/login'">Log in</a>
  </div>
</div>
