<app-toolbar>
  <div>
    <button
      class="toolbar-button"
      mat-icon-button
      [disableRipple]="true"
      onclick="this.blur()"
      (click)="onNewEventClicked()"
    >
      <mat-icon>add</mat-icon>
      <span fxHide.xs>New Event</span>
    </button>
  </div>

  <div *ngIf="!view.isList">
    <app-calendar-date-switch [view]="view" [viewDate]="viewDate"> </app-calendar-date-switch>
  </div>

  <div *ngIf="view.isList">
    <app-calendar-list-scroll></app-calendar-list-scroll>
  </div>

  <div>
    <app-calendar-view-switch></app-calendar-view-switch>
  </div>
</app-toolbar>
