.tabs-container {
  .tab {
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
    position: relative;
    min-width: 90px;
    font-size: 1.1rem;
    transition: 0.3s;
    color: rgba(0, 0, 0, 0.7);

    &-active {
      color: #3f51b5;
    }

    &:not(.tab-active):hover {
      transition: ease-in 0.3s;
      color: #000;
    }

    &:before {
      content: '';
      background-color: #dfe2ea;
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: -6px;
      left: 0;
      border-radius: 8px 8px 0 0;
      opacity: 0;
      transition: ease-in 0.3s;
      font-weight: normal;
    }

    &:hover:before {
      opacity: 1;
      bottom: 0;
    }

    .tab-indicator {
      &-active {
        background-color: #3f51b5;
      }
      height: 4px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 8px 8px 0 0;
      transition: ease-in 0.4s;
    }
  }
}

.title-container {
  margin-top: 10px;

  .subtitle {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 550;
  }
}
