<div>
  <div class="tabs-container" fxLayout="row" fxLayoutAlign="center">
    <div
      class="tab"
      [ngClass]="{ 'tab-active': (route$ | async) === route.url }"
      *ngFor="let route of routes"
      [routerLink]="route.url"
    >
      <div fxLayoutAlign="center center" fxLayoutGap="5px">
        <span>{{ route.name }}</span>
      </div>

      <span class="tab-indicator" [ngClass]="{ 'tab-indicator-active': (route$ | async) === route.url }"></span>
    </div>
  </div>

  <div class="title-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="subtitle">
      {{ getRouteDescription(route$ | async) }}
    </div>
  </div>
</div>
