<div class="form-container reset-password-container">
  <div class="form" *ngIf="!apiRequestStatus?.succeded">
    <mat-form-field class="form-field">
      <input
        matInput
        [formControl]="emailFormControl"
        type="email"
        placeholder="Your email address"
        (keydown.enter)="resetPassword()"
      />
      <mat-error *ngIf="emailFormControl.hasError('email')"
        >Please enter a <strong>valid</strong> email address</mat-error
      >
      <mat-error *ngIf="emailFormControl.hasError('requiredValue')">Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="emailFormControl.hasError('userNotFound')">User account <strong>not found</strong></mat-error>
    </mat-form-field>

    <button
      [disabled]="emailFormControl.invalid"
      *ngIf="!apiRequestStatus?.started"
      type="submit"
      class="form-button button"
      mat-stroked-button
      color="primary"
      (click)="resetPassword()"
    >
      Reset password
    </button>

    <app-loader [visible]="apiRequestStatus?.started" [mode]="'spinner'"></app-loader>

    <div class="actions">
      <a [routerLink]="'/auth/login'">Back to login page</a>
    </div>
  </div>

  <div *ngIf="apiRequestStatus?.succeded" class="email-sent-success">
    <p>We sent you an email. Check your inbox!</p>

    <div class="actions">
      <a [routerLink]="'/auth/login'">Back to login page</a>
    </div>
  </div>
</div>
