<div class="form-container reset-password-container">
  <div class="form" *ngIf="!apiRequestState?.succeded">
    <mat-form-field class="form-field">
      <input
        matInput
        [formControl]="emailFormControl"
        type="email"
        placeholder="Your email address"
        (keydown.enter)="resetPassword()"
      />
      <mat-error *ngIf="emailFormControl.hasError('email')"
        >Please enter a <strong>valid</strong> email address</mat-error
      >
      <mat-error *ngIf="emailFormControl.hasError('requiredValue')">Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="emailFormControl.hasError('userNotFound')">User account <strong>not found</strong></mat-error>
    </mat-form-field>

    <button
      [disabled]="emailFormControl.invalid"
      *ngIf="!apiRequestState?.started"
      type="submit"
      class="form-button button"
      mat-stroked-button
      color="primary"
      (click)="resetPassword()"
    >
      Reset password
    </button>

    <div *ngIf="apiRequestState?.started" fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>

  <div *ngIf="apiRequestState?.succeded" class="email-sent-success" fxLayoutAlign="center center">
    <p>We send you an email. Check your inbox!</p>
  </div>
</div>
