@import '../node_modules/angular-calendar/css/angular-calendar.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

.align-center {
  text-align: center;
}

.text-size-11 {
  font-size: 11px !important;
}
