@import '../node_modules/angular-calendar/css/angular-calendar.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

*:focus {
  outline: none !important;
  // border: 0 !important;
}

.align-center {
  text-align: center;
}

.text-size-11 {
  font-size: 11px !important;
}

.text-bold {
  font-weight: bold;
}

.button-stroked-green {
  color: green;
  border-color: green !important;
  font-weight: bold;
}

.button-stroked-blue {
  color: #3f51b5;
  &:not(:disabled) {
    border-color: #3f51b5 !important;
  }
}

.cdk-overlay-pane.adona-dialog {
  position: relative !important;
}

.adona-dialog-close.mat-icon-button {
  float: right;
  top: -25px;
  right: -24px;
}

.toolbar-button {
  width: 100% !important;
}

.cal-month-view .cal-header {
  font-weight: 400;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: #333;
}

mat-password-strength
  mat-progress-bar.mat-progress-bar.mat-primary
  > div.mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element::after {
  background-color: green;
}

mat-password-strength
  mat-progress-bar.mat-progress-bar.mat-primary
  > div.mat-progress-bar-secondary.mat-progress-bar-fill.mat-progress-bar-element::after {
  background-color: green;
}

mat-password-strength-info > mat-card > mat-card-content > div.info-row > mat-icon.mat-icon.mat-primary {
  color: green;
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.toast-top-center {
  top: 6px;
  right: 0;
  width: 100%;
}

@media screen and (min-width: 960px) {
  #toast-container > div {
    width: 60%;
  }
}

@media screen and (max-width: 960px) {
  #toast-container > div {
    width: 90%;
  }
}
