<div class="list-view-container">
  <div class="list-view-filters">
    <mat-checkbox [(ngModel)]="hidePastEvents" color="primary" (change)="onHidePastEventsChanged()">Hide past events</mat-checkbox>
  </div>

  <div class="width-full">
    <button class="width-full list-view-button" mat-flat-button (click)="onLoadPrevious()">
      Load events from {{previousDateToLoad | dateFormat:monthNameFormat}}
    </button>
  </div>
  <div class="groups-container">
    <div *ngFor="let group of eventsGrouped" id="{{group.id}}" class="group-container">
      <div class="group-title">
        {{group.start | dateFormat:startDateFormat}}
      </div>
      <div class="group-events-container">
        <div *ngFor="let event of group.events" class="event-container" (click)="onEventClicked(event)">
          <div class="event-hours">
            <div class="event-hours-all-day" *ngIf="event.allDay;else eventHours">
              <span>all-day</span>
            </div>
            <ng-template #eventHours>
              <div class="event-hour-start">
                {{timeService.Extraction.getTimeString(event.start)}}
              </div>
              <div class="event-hour-end">
                {{timeService.Extraction.getTimeString(event.end)}}
              </div>
            </ng-template>

          </div>
          <div class="event-title">
            {{event.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="width-full">
    <button class="width-full list-view-button" mat-flat-button (click)="onLoadNext()">
      Load events from {{nextDateToLoad | dateFormat:monthNameFormat}}</button>
  </div>
</div>
