<button class="adona-dialog-close" mat-icon-button (click)="close()">
  <mat-icon>close</mat-icon>
</button>
<h3 mat-dialog-title>Change Team</h3>
<div mat-dialog-content fxLayout="column">
  <div class="teams-list">
    <div
      class="teams-list-item"
      fxLayoutAlign="space-between center"
      *ngFor="let team of teams"
      (click)="onTeamSelected(team.id)"
    >
      <span>{{ team.name }}</span>
      <span class="teams-list-item-icon">
        <mat-icon>
          input
        </mat-icon>
      </span>
    </div>
  </div>
</div>
